body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.post {
  max-width: fit-content;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  padding-inline: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
}

aside {
  display: none;
}

kbd {
  padding: 3px 5px;
  border-radius: 6px;
  background-color: var(--surface-3);
}

@media screen and (min-width: 1200px) {
  body:not(.content-page) .main-wrapper {
    display: grid;
    grid-template-columns: var(--site-width) 250px;
    grid-template-areas: "main toc";
  }
  aside {
    display: block;
  }
}
header {
  margin-bottom: calc(var(--base-gap) * 2);
  line-height: normal;
}

h1 {
  margin-block-start: 0;
  font-size: clamp(1.5rem, 1.29rem + 1.07vw, 2.25rem);
}

h2 {
  font-size: clamp(1.25rem, 1.11rem + 0.71vw, 1.75rem);
}

h3 {
  font-size: clamp(1.125rem, 1.09rem + 0.18vw, 1.25rem);
}

:is(h2, h3):not([slot]) {
  margin: revert;
  scroll-margin-top: calc(var(--header-height) + var(--base-gap));
}

p {
  line-height: 1.9;
  font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
}

aside {
  --top: calc(var(--header-height) + var(--base-gap) * 5);
  position: sticky;
  top: var(--top);
  height: fit-content;
}

ul:not(.post-tags, .footer-links) {
  line-height: 2;
  margin: var(--base-gap) 0;
  padding: revert;
}

p,
blockquote {
  margin-block-end: var(--base-gap);
}

.post :is(h2, h3, h4, h5, h6) {
  margin-block-start: clamp(1.5rem, 3vw, 2rem);
}

figure {
  margin-block-end: var(--base-gap);
}

.disclaimer {
  position: relative;
  display: inline-block;
  border-radius: calc(var(--base-radius) * 1.5);
  border: 1px solid var(--disclaimer-box-border);
  margin-block-start: calc(var(--base-gap) * 2);
  margin-block-end: var(--base-gap);
  max-width: 500px;
  width: 100%;
  padding: var(--base-gap);
  background-color: var(--disclaimer-box-bg);
}
.disclaimer span {
  position: absolute;
  top: -20px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid var(--disclaimer-badge-border);
  background: var(--disclaimer-badge-bg);
  color: var(--disclaimer-badge-text);
}
.disclaimer ul {
  margin-block-end: 0;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid var(--text-1);
  text-align: left;
  padding: calc(var(--base-gap) / 2) var(--base-gap);
}

code {
  overflow-x: auto;
}
code:not([class^=language-]) {
  border-radius: calc(var(--base-radius) / 2);
  padding: calc(var(--base-gap) / 4);
  background-color: var(--surface-3);
}

blockquote {
  font-style: italic;
  border-radius: var(--base-radius);
  border: 2px solid var(--surface-3);
  padding: var(--base-gap);
}
