/**
 * Made by Tony Spegel
 * 
 * Some bits taken from: 
 * - Elly Loel - https://ellyloel.com/ / https://elly.to/CSS-Reset 
 *
 * Notes:
 */

* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

:where(html) {
  --base-gap: 16px;
  --base-radius: 16px;

  /* Logo */
  --logo-size: 56px;
  --logo-padding: 2px;
}

html {
  /* Allow percentage-based heights in the application */
  block-size: 100%;
  /* Making sure text size is only controlled by font-size */
  -webkit-text-size-adjust: none;
}

/**
 * Header
 * ======
 */
#site-header {
  position: sticky;
  top: 0;
}

#site-header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--base-gap);
}

#logo-link {
  display: flex;
  gap: var(--base-gap);
  align-items: center;
}

#logo-base {
  background-color: var(--logo-bg);
  cursor: pointer;
  border-radius: 15px;
  padding: var(--logo-padding);
  width: var(--logo-size);
  height: var(--logo-size);
  transition: transform 0.1s ease-in-out;
  aspect-ratio: 1/1;
}

#logo-base img {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--base-gap);
}

.menu ul {
  list-style-type: none;
}

/**
 * Footer
 * ======
 */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--base-gap);
  padding: var(--base-gap);
}

footer ul {
  display: flex;
  list-style-type: none;
  gap: var(--base-gap);
}
