toc-observer ol {
  list-style-type: none;
  line-height: 1;
  padding: 0;
}

toc-observer a {
  display: flex;
  border-left: 2px solid #e0e0e0;
  padding: calc(var(--base-gap) / 2) var(--base-gap);
  color: var(--text-1);
  
  transition: all 50ms ease-in-out;
  text-decoration: none;
}

toc-observer a:is(:hover, :focus, .toc-active) {
  border-left-color: var(--surface-4);
}

toc-observer a:is(:hover, :focus) {
  background-color: var(--surface-3);
}
