{% import './layouts/blog/post-tags.njk'  as post %}
{% import 'macros/tag.njk' as utility %}

<div reversed class="posts" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
    <article class="postlist-item">
      <header>
        <a href="{{ post.url | url }}" class="postlist-link">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
            {{ post.url }}
          {% endif %}
        </a>

        <span>
          vom
          <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
            {{ post.date | readableDate }}
          </time>
        </span>
      </header>

      <p class="post-summary">
        {{ post.data.shortDescription }}
      </p>

      <ul class="post-tags">
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}

          <li>
            {{ utility.tag(tagUrl, tag) }}
          </li>
        {% endfor %}
      </ul>

    </article>
  {% endfor %}
</div>

