image-comparison {
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;

  width: fit-content;
  height: fit-content;
  margin-block-end: var(--base-gap);
  line-height: 1;

  &:not(:defined) {
    background-color: rgb(0 0 0 / 4%);
    backdrop-filter: blur(20px);
    border-radius: calc(var(--base-radius) * 2);
    border: 1px solid rgb(128 128 128 / 28%);

    [slot] {
      display: none;
    }
  }

  &:not([variant='split']) {
    box-shadow: 0 -1px 3px 0 hsl(var(--shadow-color) /
            calc(var(--shadow-strength) + 2%)),
      0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
      0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
      0 4px 12px -5px hsl(var(--shadow-color) /
            calc(var(--shadow-strength) + 5%)),
      0 12px 15px -5px hsl(var(--shadow-color) /
            calc(var(--shadow-strength) + 7%));
  }

  [slot^='label'] {
    margin: calc(var(--base-gap) / 2);
    padding: calc(var(--base-gap) / 4) calc(var(--base-gap) / 2);
  }

  &[variant='split'] {
    [slot^='label'] {
      display: flex;
      align-self: center;
    }
  }

  [slot^='image'] {
    max-inline-size: 440px;
  }

  img {
    border-radius: calc(var(--base-gap));
    width: 100%;
  }

  &:not([variant='split']).post-img {
    display: flex;
    aspect-ratio: 3/2;
    width: 100%;
    max-width: 440px;
  }

  &#kasimir-overlay {
    aspect-ratio: 4/3;
  }
}

.slider-set-wrapper {
  display: flex;
  gap: var(--base-gap);
  flex-wrap: wrap;
  margin-block: var(--base-gap);
}

.slider-set {
  display: inline-flex;
  gap: var(--base-gap);
  border-radius: var(--base-radius);
  border: 1px solid var(--radio-container-border-color);
  padding: var(--base-gap);
  width: fit-content;

  background-color: var(--radio-container-bg-color);

  legend {
    border-radius: calc(var(--base-radius) / 1.5);
    padding-inline: calc(var(--base-gap) / 2);
    background-color: var(--radio-container-badge-bg-color);
  }
}
