toc-observer {
  ol {
    list-style-type: none;
    line-height: 1;
    padding: 0;
  }

  ol:not(:first-child) {
    padding-inline: 0.85em;
  }

  a {
    display: flex;
    border-left: 2px solid var(--toc-item-border-default-color);
    padding: calc(var(--base-gap) / 2) var(--base-gap);
    color: var(--text-color-1);

    transition: all 50ms ease-in-out;
    text-decoration: none;
  }

  a:is(:hover, :focus, .toc-active) {
    border-left-color: var(--toc-item-border-active-color);
  }
}

[theme-preference='dark'] {
  .dropdown__toc {
    border: 1px solid var(--surface-4);
    background-color: var(--surface-5);
  }
}

@mixin toc-observer--light {
  toc-observer {
    --toc-item-border-default-color: var(--toc-item-border-default-color--light);
    --toc-item-border-active-color: var(--toc-item-border-active-color--light);
  }
}

@mixin toc-observer--dark {
  toc-observer {
    --toc-item-border-default-color: var(--toc-item-border-default-color--dark);
    --toc-item-border-active-color: var(--toc-item-border-active-color--dark);
  }
}
