---
# Metadata comes from _data/metadata.json
permalink: /feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss
  version="2.0"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xml:base="{{ metadata.url }}"
  xmlns:atom="http://www.w3.org/2005/Atom"
>
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.feed.subtitle }}</description>
    <language>{{ metadata.language }}</language>
    <copyright>© {{ metadata.author.name }} {% year %}</copyright>
    <managingEditor>{{ metadata.author.email }} ({{ metadata.author.name }})</managingEditor>
    <webMaster>{{ metadata.author.email }} ({{ metadata.author.name }})</webMaster>
    <lastBuildDate>{{ lastBuildDate }}</lastBuildDate>
    <generator>{{ eleventy.generator }}</generator>
    <docs>https://www.rssboard.org/rss-specification</docs>

    {%- for post in collections.blog | reverse %}
      {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ absolutePostUrl }}</link>
        <description>
          {% if (post.data.socialImage is defined) %}
            <![CDATA[<img align="left" hspace="5" src="{{ metadata.url }}{{ post.data.socialImage }}"/>
            {{ post.data.metaDescription }}]]>
          {% else %}
            {{ post.data.metaDescription }}
          {% endif %}
        </description>

        <author>{{ metadata.author.email }} ({{ metadata.author.name }})</author>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <guid>{{ absolutePostUrl }}</guid>
        <source url="{{ metadata.url }}">{{ metadata.title }}</source>
      </item>
    {%- endfor %}
  </channel>
</rss>
