{% macro tag(link, linkText) %}
  {% switch linkText %}
    {% case 'Lit' %}
      <a href="{{link}}" class="post-tag lit">
        #{{linkText}}
        <span></span>
      </a>

    {% case 'Upcoming' %}
      <a href="{{link}}" class="post-tag upcoming">
        #Upcoming <span aria-hidden="true">🔮</span>
      </a>

    {% case 'Experimentell' %}
      <a href="{{link}}" class="post-tag experimental">
        #{{linkText}}
        <span aria-hidden="true">🧪</span>
      </a>

    {% default %}
      <a href="{{link}}" class="post-tag">#{{linkText}}</a>
  {% endswitch %}
{% endmacro %}
