<html lang="de">
  <head>
    {# Set meta-tags #}
    {% include "./meta-tags.njk" %}
    {# Read theme preference from localStorage #}
    {% include 'layouts/theme-preference.njk' %}

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
    <link href="{{ metadata.author.mastodon }}" rel="me">

    {% set css %}
      {% include "css/index.css" %}
      {% include "css/blog-post.css" %}
      {% include "css/components/theme-switch.css" %}
      {% include "css/font-registration.css" %}
    {% endset %}

    <style>
      {% if env.environment == "PRODUCTION" %}
        {{css | cssMin | safe}}
      {% else %}
        {{css | safe}}
      {% endif %}
    </style>

    <link rel="icon" href="/favicon.svg"/>

    {% for scr in jsFiles %}
      {% set jsPath = '/js/' + scr + '.js' %}
      <script type="module" src="{{ jsPath | url }}"></script>
    {% endfor %}
  </head>
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {% include './theme-switch.njk' %}
    {% include './header.njk' %}

    <div class="glass"></div>
    <div class="bubble"></div>
    <div class="bubble-2"></div>

    <div class="main-wrapper">
      <main>
        <div id="sentinel-element"></div>
        {{ content | safe }}
      </main>
    </div>
    {% include 'layouts/sw-registration.njk' %}
    {% include 'layouts/footer.njk' %}
  </body>
</html>
