<footer>
  <span id="copyright">
    © {{ metadata.author.name }}
    {% year %}
  </span>
  <ul>
    {% for page in footer %}
      <a href="{{ page.url }}">{{ page.text }}</a>
    {% endfor %}
  </ul>
</footer>
