<footer>
  <span id="copyright">
    © {{ metadata.author.name }}
    {% year %}
  </span>
  <ul class="footer-links">
    {% for page in footer %}
      <li>
        <a href="{{ page.url }}">{{ page.text }}</a>
      </li>
    {% endfor %}
  </ul>
</footer>
