<head>
  {# Set meta-tags #}
  {% include "./meta-tags.njk" %}
  {# Read theme preference from localStorage #}
  {% include './theme-preference.njk' %}

  {% set css %}
    {% include "css/index.css" %}
    {% include "css/components/theme-switch.css" %}
    {% include "css/font-registration.css" %}
  {% endset %}

  <style>
    {% if env.environment == "PRODUCTION" %}
      {{css | cssMin | safe}}
    {% else %}
      {{css | safe}}
    {% endif %}
  </style>

  <script type="module" src="{{ '/js/index.js' | url }}"></script>
  <script type="module" src="{{ '/js/theme-switch.js' | url }}"></script>

  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
  <link href="{{ metadata.author.mastodon }}" rel="me">
  <link rel="icon" href="/favicon.svg"/>
</head>
