<header id="site-header">
  <nav>
    {% if page.url !== '/' %}
      <a class="logo" href="{{ '/' | url }}" title="Zur Startseite">
        <img src="/tsp_icon.svg" alt="Tony Spegel Logo"/>
      </a>
    {% else %}
      <span class="logo">
        <img src="/tsp_icon.svg" alt="Tony Spegel Logo"/>
      </span>
    {% endif %}

    <button id="btn-theme-selection" title="Farbschema auswählen"></button>
  </nav>
</header>
