<header id="site-header">
  <nav aria-label="Hauptnavigation">
    {% if page.url !== '/' %}
      <a class="logo" href="{{ '/' | url }}" title="Zur Startseite">
        <img src="/tsp_icon.svg" alt="Tony Spegel Logo"/>
      </a>
    {% else %}
      <span class="logo">
        <img src="/tsp_icon.svg" alt="Tony Spegel Logo"/>
      </span>
    {% endif %}

    <ul  class="header-links">
      {% if page.url !== '/' %}
      <li class="dropdown">
        <button type="button"id="dropdown__title">
          Inhalt
          <span class="material-symbols-outlined">toc</span>
        </button>

        <div class="dropdown__toc" id="drop-down-container">
          <toc-observer observeParent>
            <div slot="toc">
              {{ content | toc | safe }}
            </div>
          </toc-observer>
        </div>
      </li>
      {% endif %}
      <li>
        <button id="btn-theme-selection" title="Farbschema auswählen"></button>
      </li>
    </ul>
  </nav>
</header>
