<head>
  {# Set meta-tags #}
  {% include "./head/meta-tags.njk" %}
  {# Read theme preference from localStorage #}
  {% include './theme-preference.njk' %}

  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/components/theme-switch.css' | url }}">

  <script type="module" src="{{ '/js/index.js' | url }}"></script>
  <script type="module" src="{{ '/js/theme-switch.js' | url }}"></script>

  {% if '/blog' in page.url %}
    <link rel="stylesheet" href="{{ 'css/blog-post.css' | url }}">
    <link rel="stylesheet" href="{{ 'css/prism-a11y-rework.css' | url }}">
  {% endif %}


  <style>
    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("fonts/inter-v7-latin-regular.woff2") format('woff2');
      unicode-range: U+0000-00FF, U+02BB-02BC, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
    }
    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url("fonts/inter-v7-latin-500.woff2") format('woff2');
      unicode-range: U+0000-00FF, U+02BB-02BC, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
    }

    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url("fonts/inter-v7-latin-700.woff2") format('woff2');
      unicode-range: U+0000-00FF, U+02BB-02BC, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
    }
  </style>

  <link rel="icon" href="/favicon.svg"/>
</head>
