{% if env.environment == "PRODUCTION" %}
  <!-- tsp:prod -->
  <script>
    if ('serviceWorker' in navigator) {
      navigator
        .serviceWorker
        .register('/sw.js');
    }
  </script>
{% endif %}
