{#
  description: Used on every page to display my theme-switch component
#}
<theme-switch>
  <h2 slot="heading">Theme Auswahl</h2>
  <span slot="sub-heading">Wähle ein Theme für die Website</span>
  <a
    href="datenschutzerklaerung/#auswertung-des-verhaltens-von-besucherinnen-und-besuchern-cookies"
    id="read-more"
    slot="read-more"
    target="_blank"
    title="Was wird gespeichert?"
  >
    ?
  </a>
  <span slot="close-caption">Schließen</span>
</theme-switch>
