:root {
  --code-bg: oklch(24% 0 0);
  --code-1: oklch(67% 0.11 245.55);
  --code-2: #9cdcfe;
  --code-3: #b5ff93;
  --code-4: #d4d4d4;
  --code-tag-color: var(--code-1);
  --code-token-attribute-value: #fff;
}

body {
  font-family: sans-serif;
}

.code-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 120px;
  aspect-ratio: 16/9;
  background-color: var(--code-bg);
}

.tag {
  color: var(--code-tag-color);
}
