toc-observer ol {
  list-style-type: none;
  line-height: 1;
  padding: 0;
}
toc-observer ol:not(:first-child) {
  padding-inline: 0.85em;
}
toc-observer a {
  display: flex;
  border-left: 2px solid var(--toc-item-border-default-color);
  padding: calc(var(--base-gap) / 2) var(--base-gap);
  color: var(--text-color-1);
  transition: all 50ms ease-in-out;
  text-decoration: none;
}
toc-observer a:is(:hover, :focus, .toc-active) {
  border-left-color: var(--toc-item-border-active-color);
}

[theme-preference=dark] .dropdown__toc {
  border: 1px solid var(--surface-4);
  background-color: var(--surface-5);
}
