@mixin dark {
  color-scheme: dark;

  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-5: var(--surface-5-dark);

  --text-1: #fff;
  --text-2: #fff;

  --circle-bg: var(--circle-bg-dark);
  --circle-border: #eedcf530;
  --circle-checked: var(--surface-3-dark);
  --circle-wave-dark: #fff;

  --glass-tint: var(--glass-tint-dark);
  --glass-tint-2: var(--glass-tint-dark-2);

  --border-color: var(--border-dark);
  --logo-bg: var(--surface-2);

  --disclaimer-badge-bg: var(--disclaimer-badge-bg-dark);
  --disclaimer-badge-border: var(--disclaimer-badge-border-dark);
  --disclaimer-badge-text: var(--text-1-light);

  --disclaimer-box-bg: var(--disclaimer-box-bg-dark);
  --disclaimer-box-border: var(--disclaimer-box-border-dark);
}

@mixin theme-switch-dark {
  theme-switch {
    --text-color-1: #fff;
    --text-color-2: #fff;
    /* Dialog */
    --dialog-bg-color: var(--surface-5);
    --dialog-border-color: var(--surface-2);
    /* Radio Buttons */
    --circle-bg-color: #2a1d5445;
    --circle-bg-color-checked: var(--surface-3-dark);
    --circle-border-color: #eedcf530;
    --circle-wave: var(--circle-wave-dark);

    /* Control elements */
    --control-color: var(--surface-3);
    --control-interaction-color: var(--surface-2);
    /* Checkbox */
    --checkbox-bg-color: #402e7e45;
    --checkbox-bg-color-checked: var(--surface-3);
    --checkmark-color: #fff;
    --checkbox-border-color: var(--surface-3);

    --outline-color: #fff;
  }
}
