---
permalink: /blog/
layout: base.njk
eleventyNavigation:
  key: Blog
  order: 2
info: Blog entry page with all posts
templateClass: base-layout
---

<h2>Über diesen Blog</h2>

<p>
  In diesem Blog experimentiere ich mit neuen Technologien und möchte zeigen,
  was im Web so möglich ist und womit ich mich so beschäftige.
  Ich versuche in meinen Posts darauf einzugehen wieso ich etwas auf eine bestimmte Art mache und
  achte darauf Alternativen zu nennen wenn möglich. Im besten Fall bietet das für euch einen Mehrwert
  oder ist zu mindestens interessant. Anregungen, Kritik oder Fragen gern an meine E-Mail:
  <a
    class="text-link"
    target="_blank"
    rel="noopener noreferrer"
    href="mailto:tony.spegel@gmail.com"
    title="E-Mail schreiben">
      tony.spegel@gmail.com
    </a>
</p>

{% set postslist = collections.blog %}
{% include "postslist.njk" %}
