---
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% set css %}
      {% include "css/colors.css" %}
    {% endset %}

    <style>
      {% if env.environment == "PRODUCTION" %}
        {{css | cssMin | safe}}
      {% else %}
        {{css | safe}}
      {% endif %}
    </style>
  </head>
  <body>
    <div class="code-tile tag">
      <span>Text</span>
    </div>
  </body>
</html>
