---
layout: home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{# {% set maxPosts = collections.blog.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

<h1>Neueste Blog posts</h1>

{% set postslist = collections.blog | head(-3) %}
{% set postslistCounter = collections.blog | length %}
{% include "postslist.njk" %}

<a
  id="read-more-link"
  href="{{ 'blog/' | url }}"
>
  Alle Posts
  <svg
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
    height="24"
    viewBox="0 -960 960 960"
    width="24"
  >
    <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
  </svg>
</a>
