---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - blog
    - tagList
  addAllPagesToCollections: true
layout: home.njk
eleventyComputed:
  title: '{{ tag }}'
permalink: /tags/{{ tag | slug }}/
info: Lists all posts per tag
templateClass: base-layout tag-page
---
<h1>Tag: #{{ tag }}</h1>

{% set tagMeta = tagdata | filterTagMetaData(tag) %}

{% if tagMeta | length %}
  {% if tagMeta.template | length %}
    {% set templatePath = './src/_data/tag-data/' + tagMeta.template %}
    {% renderFile templatePath %}
  {% endif %}
{% endif %}

{# <a href="{{ 'tags/' | url }}" class="post-tag single-tag">Alle Tags ›</a> #}
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
