---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - blog
    - tagList
  addAllPagesToCollections: true
layout: home.njk
eleventyComputed:
  title: Tag {{ tag }}
permalink: /tags/{{ tag | slug }}/
info: Lists all posts per tag
---
<h1>Tag: #{{ tag }}</h1>

{# <a href="{{ 'tags/' | url }}" class="post-tag single-tag">Alle Tags ›</a> #}
{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
