/**
 * Made by Tony Spegel
 *
 * Some bits taken from:
 * - Elly Loel - https://ellyloel.com/ / https://elly.to/CSS-Reset
 *
 * Notes:
 */

* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin: var(--base-gap) 0;
}

p:not(.post-summary) {
  line-height: 1.9;
  font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
  margin-block-end: var(--base-gap);
}

.glass {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--glass-tint);
  backdrop-filter: blur(70px);
  z-index: 0;
}

.bubble {
  border-radius: 65% 41% 48% 61% / 61% 47% 57% 43%;
  width: var(--bubble-size);
  height: var(--bubble-size);
  background-color: var(--bubble-1--color-1);
  background-image: linear-gradient(
    19deg,
    var(--bubble-1--color-1) 0%,
    var(--bubble-1--color-2) 100%
  );
  z-index: -1;
  position: fixed;
  right: -35px;
  top: -50px;
}

.bubble-2 {
  border-radius: 72% 80% 70% 63% / 83% 50% 100% 43%;
  width: var(--bubble-size);
  height: var(--bubble-size);
  background-color: var(--bubble-2--color-1);
  background-image: linear-gradient(
    226deg,
    var(--bubble-2--color-1) 0%,
    var(--bubble-2--color-2) 100%
  );
  z-index: -1;
  bottom: -120px;
  position: fixed;
}

/**
 * Header
 * ======
 */
#site-header {
  position: sticky;
  top: 0;
  line-height: 1;
  z-index: 2;
}

#site-header.opaque {
  background-color: var(--header-bg-color);
  border-bottom: 2px solid var(--surface-4); // TODO
}

#site-header.opaque .logo {
  box-shadow: var(--shadow-2);
}

.logo {
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

#site-header > * {
  margin: 0;
}

#site-header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding: var(--base-gap);
}

.logo {
  display: flex;
  gap: var(--base-gap);
  align-items: center;

  border-radius: 15px;
  padding: var(--logo-padding);
  width: var(--logo-size);
  height: var(--logo-size);
  transition: transform 0.1s ease-in-out;
  aspect-ratio: 1/1;
  border: 1px solid transparent;

  background-color: var(--logo-bg-color);
}

.logo img {
  width: 100%;
  height: 100%;
}

/**
  * Button which opens the dialog
  */
#btn-theme-selection {
  border-radius: 50%;
  border: 2px solid hsla(281, 53%, 97%, 0.63);
  width: 25px;
  aspect-ratio: 1;

  background: linear-gradient(
    -45deg,
    hsla(281, 55%, 74%, 1),
    hsl(191, 98%, 56%)
  );

  transition: border 500ms ease-out;
}

#btn-theme-selection:is(:focus, :hover) {
  border-color: hsla(281, 100%, 63%, 0.75);
}

:where(html) {
  --base-gap: 16px;
  --base-radius: 8px;
  --site-max-width: 1280px;
  --site-width: 960px;

  --base-line-height: 1.25;

  /* Logo */
  --logo-size: 56px;
  --logo-padding: 2px;

  /* Misc. */
  --header-height: 100px;

  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;

  --shadow-2: 0 3px 5px -2px hsl(var(--shadow-color) /
          calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));

  --tag-border-radius: 18px;

  --detail-summary-icon-size: 24px;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: var(--base-line-height);
}

@import './themes/_theme';
@import './_drop-down';

[theme-preference='dark'] .post-tag.lit span {
  background-image: url('/img/flame-white.svg');
}

/* Make it clear that interactive elements are interactive */
:where(
    a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*='-'])
  ) {
  cursor: pointer;
  touch-action: manipulation;
}

html {
  /* Allow percentage-based heights in the application */
  block-size: 100%;
  /* Making sure text size is only controlled by font-size */
  -webkit-text-size-adjust: none;
}

hr {
  background-color: var(--hr-color);
  height: 1px;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;

  color: var(--text-color-1);
  font-family: 'Inter', sans-serif;
}

:where(p, a, h1, h2, h3, h4, h5, h6) {
  color: var(--text-color-1);
  overflow-wrap: break-word;
}

:where(button, input, a[href], summary):where(:not(:active)):focus-visible {
  outline-offset: 5px;
  transition: outline-offset 145ms ease;
}

@media (prefers-reduced-motion: no-preference) {
  a {
    transition: all 0.1s ease-in-out;
  }

  a[href]:active {
    transform: scale(0.95);
  }
}

/**
 * Main
 * ======
 */

.tmpl-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tmpl-home .main-wrapper {
  flex: 1;
  padding: var(--base-gap);
}

.main-wrapper {
  z-index: 1;
}

.main-wrapper main {
  margin: 0 auto;
  width: 100%;
  max-width: var(--site-width);
}

.intro {
  line-height: 1.5;
  max-width: 470px;
  text-align: justify;
}

.social-links {
  --social-link-size: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--base-gap);
  margin: var(--base-gap) 0;
  padding: 0;
  list-style: none;

  li {
    border: 1px solid var(--social-link-border-color);
    border-radius: 50%;
    width: var(--social-link-size);
    height: var(--social-link-size);
    background-color: var(--social-link-bg-color);

    &:is(:hover, :focus) {
      background-color: var(--social-link-bg-color-active);
    }

    a {
      display: flex;
      border-radius: 50%;
      height: 100%;
      padding: calc(var(--base-gap) / 2);

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

aside {
  &.toc {
    grid-area: toc;
    position: sticky;
    top: calc(var(--header-height) + calc(var(--base-gap) * 2));
    max-height: 200px;
  }
}

.dropdown {
  display: none;
}

@media screen and (max-width: 750px) {
  #main-wrapper.post {
    grid-template-areas: 'main';
    grid-template-columns: 1fr;
  }

  aside.toc {
    display: none;
  }

  aside#toc-mobile {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .dropdown {
    display: flex;
  }
}

pre[class*='language-'] {
  max-width: 100%;
}

/**
 * Footer
 * ======
 */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--base-gap);
  padding: var(--base-gap);
  z-index: 1;
}

footer ul {
  display: flex;
  list-style-type: none;
  gap: var(--base-gap);
}

@media screen and (max-width: 500px) {
  footer {
    flex-direction: column-reverse;
    text-align: center;
  }

  footer ul {
    flex-direction: column;
  }
}

/**
 * Tags
 */

.post-tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: calc((var(--base-gap) / 2) + 4px);
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.post-tags > li {
  display: inherit;
  align-items: center;
  height: 36px;
}

.post-tag {
  gap: calc(var(--base-gap) / 2);
}

.post-tag.lit span {
  background-image: url('/img/flame.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  aspect-ratio: 4/5;
}

.post-tag {
  display: flex;
  align-items: center;

  height: 100%;
  padding: calc(var(--base-gap) / 2) calc(var(--base-gap) * 0.75);
  border-radius: var(--tag-border-radius);
  text-decoration: none;

  background-color: var(--tag-bg-color);
  border: 1px solid var(--tag-border-color);

  color: var(--tag-font-color);

  transform-origin: center;

  img {
    height: 100%;
  }
}

a.postlist-link {
  font-weight: 500;
  font-size: 1.2rem;
}

.post-tag {
  &:is(:hover, :focus) {
    background-color: var(--tag-bg-color-active);
  }

  &:active {
    transform: scale(0.95);
  }
}

.single-tag {
  display: inline-flex;
  margin-block-end: var(--base-gap);
}

.all-tags {
  margin: var(--base-gap) 0 !important;
}

/**
 * Posts
 */

.posts {
  display: grid;
  gap: var(--base-gap);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-block-start: var(--base-gap);
  margin-block-end: var(--base-gap);
  max-width: 1280px;
}

/**
 * Post card
 */

.postlist-item {
  --shadow-strength: 1px;

  &:focus-within {
    --shadow-strength: 2px;
  }

  box-shadow:
    0 3px 5px -2px hsla(var(--shadow-color) / 0.04),
    0 7px 14px -5px hsla(var(--shadow-color) / 0.06),
    0 0 0 var(--shadow-strength) var(--post-card-border-color),
    0 7px 14px -5px hsla(var(--shadow-color) / 0.1);

  display: flex;
  flex-direction: column;
  gap: var(--base-gap);

  border-radius: var(--base-radius);
  border: 1px solid var(--post-card-border-color);

  padding: var(--base-gap);
  background-color: var(--post-card-bg-color);

  header {
    display: flex;
    flex-direction: column;
  }
}

.post-tags {
  margin-top: auto;
}

.disclaimer {
  position: relative;
  display: inline-block;

  border-radius: calc(var(--base-radius) * 1.5);
  border: 1px solid var(--disclaimer-box-border-color);
  margin-block-start: calc(var(--base-gap) * 2);
  margin-block-end: var(--base-gap);
  max-width: 500px;
  width: 100%;
  padding: var(--base-gap);
  background-color: var(--disclaimer-box-bg-color);

  line-height: 1.5;

  span {
    position: absolute;
    top: -20px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--disclaimer-badge-border);
    background: var(--disclaimer-badge-bg);
    color: var(--disclaimer-badge-text);
  }

  ul {
    margin-block-end: 0;
    padding-inline-start: 2.5rem;
  }
}

details {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-block-end: var(--base-gap);

  &[open] {
    summary {
      &:before {
        content: '';
        transform: rotate(180deg);
      }

      position: absolute;
    }

    > #details-content {
      border-radius: calc(var(--base-radius) * 1.5);
      border: 1px solid var(--disclaimer-box-border-color);
    }
  }

  summary {
    &:before {
      content: '';
      height: var(--detail-summary-icon-size);
      width: var(--detail-summary-icon-size);

      background-image: url('/img/icons/expand_more_FILL0_wght400_GRAD0_opsz48.svg');
      background-size: var(--detail-summary-icon-size);
      background-repeat: no-repeat;

      transform-origin: center;
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:is(:hover, :focus) {
      background-color: var(--details-summary-bg-color-active);
    }

    display: inline-flex;
    align-items: center;
    list-style: none;

    border-radius: calc(var(--base-radius) * 1.5);
    border: 1px solid var(--details-summary-border-color);

    margin-inline-start: 1px;
    margin-block-start: 1px;
    padding: calc(var(--base-gap) / 2) var(--base-gap);

    color: var(--details-summary-font-color);
    background-color: var(--details-summary-bg-color);
  }

  #details-content {
    padding-block-start: calc(var(--base-gap) * 2.5);
    padding-block-end: var(--base-gap);
    padding-inline: var(--base-gap);
    background-color: var(--disclaimer-box-bg-color);

    p {
      &:last-child {
        margin-block-end: 0;
      }
    }
  }
}
