<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    {% if '/posts' in page.url %}
    <script type="module" src="{{ '/js/post.js' | url }}"></script>
    <link rel="stylesheet" href="{{ '/css/post.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/toc-observer.css' | url }}">
    {% endif %}
  </head>
  <body>
    {% include 'layouts/header.njk' %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% include 'layouts/footer.njk' %}
  </body>
</html>
