<header id="site-header">
  <nav>
    <a id="logo-link"
      {% if page.url !== '/' %}
      href="{{ '/' | url }}"
      title="Zur Startseite"
      {% endif %}
    >
      <div id="logo-base">
        <img src="/tsp_icon.svg" alt="Tony Spegel Logo"/>
      </div>
      <h1>Tony Spegel</h1>
    </a>

    <div class="menu">
      <button id="btn-theme-selection" title="Farbschema auswählen"></button>
      <ul class="nav">
        <li class="nav-item">
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</header>