---
layout: layouts/base.njk
templateClass: post
---

<main>
  <header>
    <time 
      class="article-date" 
      datetime="{{ page.date | htmlDateString }}"
    >{{ page.date | readableDate }}</time>
    <h1>{{ title }}</h1>
  </header>

  {{ content | safe }}

</main>

<aside class="toc">
  <toc-observer observeParent>
  <div slot="toc">
  {{ content | toc | safe }}
  </div>
  </toc-observer>
</aside>

{# 
<ul id="post-tags">
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<li>
  <a href="{{ tagUrl | url }}" class="post-tag" title="Posts zum Tag: {{ tag }} anzeigen">{{ tag }}</a>
</li>
{%- endfor %}
</ul>


<div class="wrapper">
  <article>
    {{ content | safe }}
  </article>
  <aside class="toc">
    <toc-observer observeParent>
    <div slot="toc">
    {{ content | toc | safe }}
    </div>
    </toc-observer>
  </aside>
</div>

{%- if collections.blog %}
{%- set nextPost = collections.blog | getNextCollectionItem(page) %}
{%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} #}
