<head>
  {# Set meta-tags #}
  {% include "../head/meta-tags.njk" %}

  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/blog-post.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/components/toc-observer.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/components/theme-switch.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/components/image-comparison.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-a11y-rework.css' | url }}">

  {% include 'layouts/theme-preference.njk' %}

  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

  {% for scr in imports %}
    {% set jsPath = '/js/' + scr + '.js' %}
    <script type="module" src="{{ jsPath | url }}"></script>
  {% endfor %}
  <link rel="icon" href="/favicon.svg"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
