<head>
  {# Set meta-tags #}
  {% include "../meta-tags.njk" %}

  {% set css %}
    {# 'styleSheets'is set in the front matter data for each post #}
    {% for sheet in styleSheets %}
      {% include 'css/' + sheet + '.css' %}
    {% endfor %}
    {% include "css/font-registration.css" %}
  {% endset %}

  <style>
    {% if env.environment == "PRODUCTION" %}
      {{css | cssMin | safe}}
    {% else %}
      {{css | safe}}
    {% endif %}
  </style>


  {% include 'layouts/theme-preference.njk' %}

  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="RSS Feed von {{ metadata.author.name }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="JSON Feed von {{ metadata.author.name }}">
  <link href="{{ metadata.author.mastodon }}" rel="me">

  {# 'jsFiles' is set in the front matter data for each post #}
  {% for jsFile in jsFiles %}
    {% set jsPath = '/js/' + jsFile + '.js' %}
    <script type="module" src="{{ jsPath | url }}"></script>
  {% endfor %}
  <link rel="icon" href="/favicon.svg"/>
</head>
